					<header class="page-header " style=" padding:0 5px 0 5px; margin:0; ">
						<h2><i class="fa fa-universal-access" aria-hidden="true"></i>  Especificadores</h2>
					</header>
					<!-- start: page -->
						<div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
										<h2 class="panel-title">Especificadores</h2>
									</header>
									<div class="panel-body">
										<form>
											<div class="form-group">
												<div class="input-group">
												<div class="input-group-addon"><i class="fa fa-search"></i></div>
												<input type="text" class="form-control" placeholder="Buscar" ng-model="searchFish">
												</div>					  
											</div>
										</form>
										<div class="row">
											<div class="col-xs-6 col-sm-2">											
												<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="novo()" ng-if="user.login.id_tipo_login==1 || user.login.id_tipo_login==2"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>				
											</div>
											<div class=" col-xs-6 col-sm-2 col-sm-offset-8">
											<p class="output" style="padding-top:15px">Total da busca: <b>{{filtered.length}}</b></p>
											</div>
										</div>
										<table class="table table-bordered table-striped" show-filter="true">
											<thead>
											  <tr>
												<td class="col-xs-6 col-sm-2">
													<a  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
													Nome
													<span ng-show="sortType == 'nome'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-3 hidden-xs">
													<a  ng-click="sortType = 'empresa'; sortReverse = !sortReverse">
													Empresa
													<span ng-show="sortType == 'empresa'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-2 hidden-xs">
													<a  ng-click="sortType = 'cpf'; sortReverse = !sortReverse">
													CPF
													<span ng-show="sortType == 'cpf'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-1 hidden-xs">
													<a  ng-click="sortType = 'cidade'; sortReverse = !sortReverse">
													Cidade
													<span ng-show="sortType == 'cidade'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-1 hidden-xs" ng-if=" user.login.id_tipo_login==1 || user.login.id_tipo_login==2">
													<a  ng-click="sortType = 'pontos'; sortReverse = !sortReverse">
													Pontos
													<span ng-show="sortType == 'pontos'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-3 col-xs-6">Ações</td>												
											  </tr>
											</thead>							
											<tr ng-repeat="user in especificadores | orderBy:sortType:sortReverse| filter:searchFish as filtered">
												<td class="col-xs-6 col-sm-2">
													{{user.nome}}</td>
												<td class="col-sm-3 hidden-xs">
													{{user.empresa}}</td>
												<td class="col-sm-2 hidden-xs">
													{{user.cpf}}</td>
												<td class="col-sm-1 hidden-xs">
													{{user.cidade}}</td>
												<td class="col-sm-1 hidden-xs" ng-if=" tipoUsuario==1 || tipoUsuario==2">
													{{user.pontos}}</td>
												<td class="col-sm-3 col-xs-6">
												<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="view(user)" title="Visualizar"><i class="fa fa-eye" aria-hidden="true"></i>
												<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="editar(user)" title="Editar" ng-if="tipoUsuario == 2 || tipoUsuario == 1" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
												<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="excluir(user)" title="Excluir" ng-if="tipoUsuario == 2 || tipoUsuario == 1" ><i class="fa fa-minus" aria-hidden="true"></i>
												</td>
											</tr>
										</table>
										<div class="text-center" ng-if="!especificadores.length">Nenhum especificador cadastrado.</div>	
									</div>
								</section>								
							</div>	
						</div>
					<!-- end: page -->