					<header class="page-header " style=" padding:0 5px 0 5px; margin:0; ">
						<h2><i class="fa fa-star-o" aria-hidden="true"></i>  Pontuação Atual </h2>
					</header>
					<!-- start: page -->
						<div class="row" ng-controller="PontuacaoCtrl">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
										<h2 class="panel-title">Pontuação Atual: {{pontuacaoAtual}} pontos</h2>
									</header>
									<div class="panel-body">
										<form>
											<div class="form-group">
											  <div class="input-group">
												<div class="input-group-addon"><i class="fa fa-search"></i></div>
												<input type="text" class="form-control" placeholder="Buscar" ng-model="searchFish">
											  </div>
											</div>
										</form>
										<div class="row" >
											<div class="col-xs-6 col-sm-2" style="padding-top:5px">
											<select ng-model="campanhaAtual" ng-options="campanhaAtual.id as campanhaAtual.nome for campanhaAtual in campanhas" ng-change="changeCampPoints(campanhaAtual)"></select>
											</div>
											<div class=" col-xs-6 col-sm-2 col-sm-offset-8">
											<p class="output" style="padding-top:15px">Total da busca: <b>{{filtered.length}}</b></p>
											</div>	
										</div>	
										<br>
										<table class="table table-bordered table-striped" show-filter="true" >
											<thead>
											  <tr>												
												<td class="col-sm-3">
													<a  ng-click="sortType = 'pontos'; sortReverse = !sortReverse">
													Pontos
													<span ng-show="sortType == 'pontos'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-3">
													<a  ng-click="sortType = 'data_criacao'; sortReverse = !sortReverse">
													Data Criação
													<span ng-show="sortType == 'data_criacao'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-3">
													<a  ng-click="sortType = 'observacao'; sortReverse = !sortReverse">
													Observação
													<span ng-show="sortType == 'observacao'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-3">
													<a  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
													Pontuado por
													<span ng-show="sortType == 'nome'" class="fa fa-caret-down"></span>
												</td>												
											  </tr>
											</thead>
						
											<tr  ng-repeat="user in pontuacoes | orderBy:sortType:sortReverse| filter:searchFish as filtered">
												<td class="col-sm-3">
													{{user.pontos}}</td>
												<td class="col-sm-3">
													{{user.data_criacao}}</td>
												<td class="col-sm-3">
													{{user.descricao}}</td>
												<td class="col-sm-3">
													{{user.nome}}</td>
											</tr>																						
										</table>
										<div class="text-center" ng-if="!pontuacoes.length">Nenhuma pontuação na campanha selecionada.</div>
									</div>
								</section>								
							</div>
						</div>
			
					<!-- end: page -->