					<header class="page-header">
						<h2>Prêmios</h2>
					</header>
					<!-- start: page -->
						<div class="row">
							<div class="col-lg-12">
								<section class="panel panel-featured">
									<header class="panel-heading">
										<h2 class="panel-title"><i class="fa fa-gift" aria-hidden="true"></i> Prêmios da {{campanhaAtiva.nome}}</h2>
									</header>
									<div class="panel-body">
										<form>
											<div class="form-group">
												<div class="input-group">
												<div class="input-group-addon"><i class="fa fa-search"></i></div>
												<input type="text" class="form-control" placeholder="Buscar" ng-model="searchFish">
												</div>					  
											</div>
										</form>
										<div class="row" style="padding:15px 0">
											<div class="col-xs-6 col-sm-6">											
												<p class="output" style="padding-top:15px">Total da busca: <b>{{filtered.length}}</b></p>
											</div>
											<div class=" col-xs-6 col-sm-6">
												<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary pull-right" ng-click="novo()" ng-if="tipoUsuario==1 || tipoUsuario==2"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>				
											</div>
										</div>
										<table class="table table-bordered table-striped" show-filter="true">
											<thead>
											  <tr>
												<td class="col-xs-6 col-sm-3" style="text-align:center;">
													<a  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
													Nome
													<span ng-show="sortType == 'nome'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-sm-4 hidden-xs" style="text-align:center;">
													<a  ng-click="sortType = 'descricao'; sortReverse = !sortReverse">
													Descrição
													<span ng-show="sortType == 'descricao'" class="fa fa-caret-down"></span>
												</td>
												<td class="col-xs-2 col-sm-2" style="text-align:center;">
													<a  ng-click="sortType = 'pontos'; sortReverse = !sortReverse">
													Pontos
													<span ng-show="sortType == 'pontos'" class="fa fa-caret-down"></span>
												</td>												
												<td class="col-sm-3 col-xs-4" style="text-align:center;">Ações</td>								
											  </tr>
											</thead>
											<tr ng-repeat="user in premios | orderBy:sortType:sortReverse| filter:searchFish as filtered">
												<td class="col-xs-6 col-sm-3">
													{{user.nome}}</td>
												<td class="col-sm-3 hidden-xs">
													{{user.descricao}}</td>
												<td class="col-xs-2 col-sm-2" style="text-align:center;">
													{{user.pontos}}</td>												
												<td class="col-sm-3 col-xs-4" style="text-align:center;">
													<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="view(user)" title="Visualizar"><i class="fa fa-eye" aria-hidden="true"></i>
													<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="editar(user)" title="Editar" ng-if="tipoUsuario==1 || tipoUsuario==2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													<button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default" ng-click="excluir(user)" title="Excluir" ng-if="tipoUsuario==1 || tipoUsuarion==2"><i class="fa fa-minus" aria-hidden="true"></i>
												</td>
											</tr>
										</table>
										<div class="text-center" ng-if="!premios.length">Nenhum prêmio cadastrado na campanha ativa.</div>	
									</div>
									<footer class="panel-footer"></footer>
								</section>								
							</div>	
						</div>
					<!-- end: page -->