<div class="modal" >
	<div id="custom-modal" style="padding-top: 15%;">
		<div class="mfp-content">
			<div id="modalBasic" class="modal-block">
				<section class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">Termos de Uso</h2>
					</header>
					<div class="panel-body">
						<div class="modal-wrapper">
							<div class="modal-text">
								<h5>Bem-Vindo ao Prata da Casa. Para continuar a utilizar o sistema, é necessário aceitar os termos de uso!</h5>	
							</div>
						</div>
						<div class="checkbox-custom checkbox-default">
							<input name="agreeterms" id="concordo" type="checkbox" ng-click="close(true)" data-dismiss="modal"/>
							<label for="AgreeTerms">Eu concordo com os <a style="color: #337ab7;">termos de uso</a></label>
						</div>
					</div>
					<footer class="panel-footer">
						<div class="row">
							<div class="col-md-12 text-right">
								<button type="button" ng-click="sair()" class="btn btn-primary">Sair</button>
							</div>
						</div>
					</footer>
				</section>
			</div>
		</div>
	</div>
</div>		
		