<div class="modal" >
<div id="custom-modal">
  <div id="overlay">
	<strong>Bem-Vindo ao Prata da Casa. Para continuar a utilizar o sistema, é necessário aceitar os termos de uso!</strong>
	<br><br>
	<div class="col-md-6 col-md-offset-3">
		<input name="agreeterms" id="concordo" type="checkbox" ng-click="close(true)" data-dismiss="modal"/>
		<label for="AgreeTerms"><h4>Concordo com os <a style="color: #337ab7;">Termos de Uso</a></h4></label>		
	</div>	
	<br><br>
	<div class="row col-md-2 col-md-offset-5">
	<button type="button" ng-click="sair()" class="btn btn-primary">Sair</button>
	</div>
  </div>
  <div id="fade"></div>
</div>
</div>		
		