		<div class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Aprovar Especificador</h4>
              </div>
              <div class="modal-body">
                <p>Deseja aprovar o especificador selecionado?</p>
              </div>
              <div class="modal-footer">
				<button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Sim</button>
                <button type="button" ng-click="close(false)" class="btn btn-default " data-dismiss="modal">Não</button>                
              </div>
            </div>
          </div>
        </div>